.pHeader{
   color:gold;
}

.loginw{

   padding:0;
   font-family:cursive;
   margin:0;
      
    }

/* .circle{
      margin: 150;
    } */

div{
   color: white;
        
    } 
    
.box{
      
   width: 100%;
   height:100%;
   image-rendering: webkit-optimize-contrast;
   background-image: url('/src/Images/pstars.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   position: absolute;
   top:50%;
   left: 50%;
   transform: translate(-50%,-50%);
   text-align: center;
    }
    
h3
    {
        /* border: 1px solid black; */
   color: rgb(238, 227, 68);
   text-transform: uppercase;
   font-weight: 400;
       
    }
    
    /* when we click on text or password field it should enlarge */
    /*format username and password fields*/
.box input[type="text"],.box input[type="password"] 
    {
   border: 0;
   margin: 15px auto;
   background: rgb(231, 216, 6);
   padding:10px 5px;
   display: block;
   border: 2px dashed rgba(114, 241, 24, 0.796);
   outline:none;
   color: rgb(22, 21, 3);
   width:200px;
   height: 0.1em;
    /* text-shadow:red; */
   border-radius: 25px;
   transition: 0.20px;
   text-align: center;
   outline: none;
  }
    
      /* when clicking on text or pasword field the field should enlarge  */
.box input[type="text"] focus,.box input[type="password"]:focus
  {
    width: 100px;
    border-color: black;
    background: rgb(230, 236, 230);
  }
    
    /*submit button css*/
.box input[type="submit"]{
    border: 0;
    margin: 15px auto;
    background: purple;
    padding:0px 25px;
    display: block;
    border: 3px solid red;
    outline:none;
    color: white;
    cursor:pointer;
    border-radius: 25px;
    transition: 0.20px;
    text-align: center;
    outline: none;
  }

  button{ 
    border: 0;
    margin: 15px auto;
    background: purple;
    padding:0px 25px;
    display: block;
    border: 3px solid red;
    outline:none;
    color: white;
    cursor:pointer;
    border-radius: 25px;
    transition: 0.20px;
    text-align: center;
    outline: none;


  }
    
.box input[type="submit"]:hover{
    background: rgba(255, 166, 0, 0.76);
}

.loginreg{
  float: left;
  padding: 1.0em;;

}

.oLogin{
  margin: 5%;

}
/* .mHeart:before, */
.mHeart{
  position:absolute;
  width: 110px;
  height: 110px;
  content: '';
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  -oborder-radius:50%;
  border-radius:50%;
  color: purple;
  margin: 0em;
  right: 1em;
  opacity:75%; 

  
 } 

.text p{
float:right; 
font-size:.8em;
background-color:gold;
padding: .5em; 
top: -4.5em;
border: 2px dashed white;
height: 4em;
width: 4em;
text-align: center;
justify-content:space-around;
color: purple;
border-radius:50%;
position:absolute;
}
